In [2]:
# Standard Packages
import pandas as pd
import numpy as np
import markdown

# Viz Packages
import seaborn as sns
import matplotlib.pyplot as plt

# Scipy Stats
import scipy.stats as stats 

# Statsmodel Api
import statsmodels.api as sm
from statsmodels.formula.api import ols

# SKLearn Modules
from sklearn.linear_model import LinearRegression
from sklearn.feature_selection import RFE
from sklearn.preprocessing import StandardScaler, OneHotEncoder
from sklearn.model_selection import train_test_split
import sklearn.metrics as metrics

# Suppress future and deprecation warnings
import warnings
warnings.filterwarnings("ignore", category= FutureWarning)
warnings.filterwarnings("ignore", category=DeprecationWarning)

In [6]:
hd = pd.read_csv("data/kc_house_data.csv")
f = open('data/column_names.md', 'r')
desc=markdown.markdown( f.read() )

In [18]:
hd.head()

,id,date,price,bedrooms,bathrooms,sqft_living,sqft_lot,floors,waterfront,greenbelt,...,sqft_above,sqft_basement,sqft_garage,sqft_patio,yr_built,yr_renovated,address,lat,long,year
0,7399300360,5/24/2022,675000.0,4,1.0,1180,7140,1.0,NO,NO,...,1180,0,0,40,1969,0,"2102 Southeast 21st Court, Renton, Washington ...",47.461975,-122.19052,NaN
1,8910500230,12/13/2021,920000.0,5,2.5,2770,6703,1.0,NO,NO,...,1570,1570,0,240,1950,0,"11231 Greenwood Avenue North, Seattle, Washing...",47.711525,-122.35591,NaN
2,1180000275,9/29/2021,311000.0,6,2.0,2880,6156,1.0,NO,NO,...,1580,1580,0,0,1956,0,"8504 South 113th Street, Seattle, Washington 9...",47.502045,-122.22520,NaN
3,1604601802,12/14/2021,775000.0,3,3.0,2160,1400,2.0,NO,NO,...,1090,1070,200,270,2010,0,"4079 Letitia Avenue South, Seattle, Washington...",47.566110,-122.29020,NaN
4,8562780790,8/24/2021,592500.0,2,2.0,1120,758,2.0,NO,NO,...,1120,550,550,30,2012,0,"2193 Northwest Talus Drive, Issaquah, Washingt...",47.532470,-122.07188,NaN

In [25]:
hd.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 30155 entries, 0 to 30154
Data columns (total 26 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   id             30155 non-null  int64
 1   date           30155 non-null  object
 2   price          30155 non-null  float64
 3   bedrooms       30155 non-null  int64
 4   bathrooms      30155 non-null  float64
 5   sqft_living    30155 non-null  int64
 6   sqft_lot       30155 non-null  int64
 7   floors         30155 non-null  float64
 8   waterfront     30155 non-null  object
 9   greenbelt      30155 non-null  object
 10  nuisance       30155 non-null  object
 11  view           30155 non-null  object
 12  condition      30155 non-null  object
 13  grade          30155 non-null  object
 14  heat_source    30123 non-null  object
 15  sewer_system   30141 non-null  object
 16  sqft_above     30155 non-null  int64
 17  sqft_basement  30155 non-null  int64
 18  sqft_garage    30155 non-null  int64
 19  sqft_patio     30155 non-null  int64
 20  yr_built       30155 non-null  int64
 21  yr_renovated   30155 non-null  int64
 22  address        30155 non-null  object
 23  lat            30155 non-null  float64
 24  long           30155 non-null  float64
 25  year           3 non-null      object
dtypes: float64(5), int64(10), object(11)
memory usage: 6.0+ MB

In [10]:
desc

'<h1>Column Names and Descriptions for King County Data Set</h1>\n<ul>\n<li><code>id</code> - Unique identifier for a house</li>\n<li><code>date</code> - Date house was sold</li>\n<li><code>price</code> - Sale price (prediction target)</li>\n<li><code>bedrooms</code> - Number of bedrooms</li>\n<li><code>bathrooms</code> - Number of bathrooms</li>\n<li><code>sqft_living</code> - Square footage of living space in the home</li>\n<li><code>sqft_lot</code> - Square footage of the lot</li>\n<li><code>floors</code> - Number of floors (levels) in house</li>\n<li><code>waterfront</code> - Whether the house is on a waterfront</li>\n<li>Includes Duwamish, Elliott Bay, Puget Sound, Lake Union, Ship Canal, Lake Washington, Lake Sammamish, other lake, and river/slough waterfronts</li>\n<li><code>greenbelt</code> - Whether the house is adjacent to a green belt</li>\n<li><code>nuisance</code> - Whether the house has traffic noise or other recorded nuisances</li>\n<li><code>view</code> - Quality of view from house</li>\n<li>Includes views of Mt. Rainier, Olympics, Cascades, Territorial, Seattle Skyline, Puget Sound, Lake Washington, Lake Sammamish, small lake / river / creek, and other</li>\n<li><code>condition</code> - How good the overall condition of the house is. Related to maintenance of house.</li>\n<li>See the <a href="https://info.kingcounty.gov/assessor/esales/Glossary.aspx?type=r">King County Assessor Website</a> for further explanation of each condition code</li>\n<li><code>grade</code> - Overall grade of the house. Related to the construction and design of the house.</li>\n<li>See the <a href="https://info.kingcounty.gov/assessor/esales/Glossary.aspx?type=r">King County Assessor Website</a> for further explanation of each building grade code</li>\n<li><code>heat_source</code> - Heat source for the house</li>\n<li><code>sewer_system</code> - Sewer system for the house</li>\n<li><code>sqft_above</code> - Square footage of house apart from basement</li>\n<li><code>sqft_basement</code> - Square footage of the basement</li>\n<li><code>sqft_garage</code> - Square footage of garage space</li>\n<li><code>sqft_patio</code> - Square footage of outdoor porch or deck space</li>\n<li><code>yr_built</code> - Year when house was built</li>\n<li><code>yr_renovated</code> - Year when house was renovated</li>\n<li><code>address</code> - The street address</li>\n<li><code>lat</code> - Latitude coordinate</li>\n<li><code>long</code> - Longitude coordinate</li>\n</ul>\n<p>Most fields were pulled from the <a href="https://info.kingcounty.gov/assessor/DataDownload/default.aspx">King County Assessor Data Download</a>.</p>\n<p>The <code>address</code>, <code>lat</code>, and <code>long</code> fields have been retrieved using a third-party <a href="https://docs.mapbox.com/api/search/geocoding/">geocoding API</a>. In some cases due to missing or incorrectly-entered data from the King County Assessor, this API returned locations outside of King County, WA. If you plan to use the <code>address</code>, <code>lat</code>, or <code>long</code> fields in your modeling, consider identifying outliers prior to including the values in your model.</p>'

In [31]:
hd = hd[~hd['address'].isin(['Washington'])]
hd.shape

(30155, 26)